<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 animate__animated animate__bounceInLeft">
            <h1>Una revolución con las tarifas de la luz adaptadas a ti</h1>
            <p>Somos una compañía de luz que te ofrece la energía que necesitas sin pagar de más y según tus preferencias. Siempre con un precio justo y usando la tecnología para ofrecerte tu máximo ahorro y comodidad.
 
                Estas son las 3 tarifas que podemos personalizar en base a tus necesidades:</p>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Clásica: Si quieres controlar cada factura
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Sin Sorpresas: si buscas evitar picos estacionales.
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Tarifa Justa: si prefieres despreocuparte de tu factura.
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
        <div class="col-md-5 d-none d-sm-none d-md-block">
            <img src="assets/images/holaluz1.jpg" alt="..." width="500" height="500">
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-5 d-none d-sm-none d-md-block">
            <img src="assets/images/holaluz1.jpg" alt="..." width="500" height="500">
        </div>
        <div class="col-md-7 animate__animated animate__bounceInRight">
            <h1>Suma también tu tejado</h1>
            <p>Te instalamos placas solares para transformar tus m2 de tejado en energía solar para ti y el resto del mundo.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Tus placas solares, sin poner un euro de tu bolsillo. Si prefieres pagarlas, puedes hacerlo al contado o en cómodos plazos.</li>
              <li class="list-group-item">Ahorra en tu factura desde el primer día.</li>
              <li class="list-group-item">Y ahórrale al planeta el CO₂ que producen 150.000 bolsas de plástico.</li>
              <li class="list-group-item">Nosotros nos encargamos de todo. </li>
            </ul>
        </div>
    </div>
    <div class="row mt-4 mb-3">
      <div class="col d-block d-sm-block d-md-none">
        <img src="assets/images/holaluz2.jpg" class="img-fluid">
    </div>
    </div>
</div>
<app-footer></app-footer>